body{
	font-family:arial,sans-serif;
}
button{
	margin: 0 5px;
}
button.back{
	color: green;
}
button.delete{
	color: red;
}
button.edit{
	color: orange;
}
button.stop{
	color:green;
}
tr{
	text-align: center;
}
tr.ringing{
	background-color: red;
	transition: background-color 3s;
}
tr.disabled{
	color:gray;
}
